<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
			<section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<DevExpress.LookAndFeel.Design.AppSettings>
			vi
			<setting name="DPIAwarenessMode" serializeAs="String">
				<value>System</value>
			</setting>
		</DevExpress.LookAndFeel.Design.AppSettings>
	</applicationSettings>
	<appSettings>
		<add key="Modules" value=""/>
		<add key="NewVersionServer" value=""/>
		<add key="EnableDiagnosticActions" value="False"/>
		<!--
		Use the one of predefined values: None, ApplicationFolder, CurrentUserApplicationDataFolder. The default value is ApplicationFolder.
		<add key="TraceLogLocation" value="CurrentUserApplicationDataFolder"/>
		<add key="UserModelDiffsLocation" value="CurrentUserApplicationDataFolder"/>
		<add key="Languages" value="de;es;ja;ru"/>
		-->
		<!-- Use one of the following predefined values: 0-Off, 1-Errors, 2-Warnings, 3-Info, 4-Verbose. The default value is 3. -->
		<add key="eXpressAppFrameworkTraceLevel" value="3"/>
		<add key="Server" value="https://dev-erp-api.sharedataroom.com/api/"/>
		<add key="HelpDeskServer" value="https://dev-api-helpdesk.sharedataroom.com/api/v1/"/>

		<!--<add key="Server" value="https://localhost:5001/api/"/>-->
		<!-- ServerName Use for download file -->
		<add key="ServerName" value="https://dev-erp-api.sharedataroom.com/"/>
		<add key="PullBom" value="itemstyles/pull-bom"/>
		<add key="PullBomType" value="itemstyles/pull-bom-type"/>
		<add key="ItemStyleBulkIssue" value="itemstyles/bulk-issue"/>
		<add key="PullBomForecast" value="forecastoveralls/pull-bom"/>
		<add key="GroupForecastMaterialToPurchaseOrderLine" value="forecastmaterials/group-to-purchase-order-line"/>
		<add key="DeleteForecastEntry" value="forecastentries/"/>
		<add key="ClearingStyle" value="itemstyles/clearing-style"/>
		<add key="ClearingBom" value="itemstyles/clearing-bom"/>
		<add key="CalculateRequiredQuantity" value="itemstyles/calculate-required-quantity"/>
		<add key="CalculateRequiredQuantityForecastOverall" value="forecastoveralls/calculate-required-quantity"/>
		<add key="BalanceQuantityForecastOverall" value="forecastoveralls/balance-quantity"/>
		<add key="CreateReceipt" value="receipts"/>
		<add key="ImportItemPrice" value="itemprices/import"/>
		<add key="CreateMultiItemPrice" value="itemprices/create-multi"/>
		<add key="ImportPartRevision" value="partrevisions/import"/>
		<add key="CreatePartRevision" value="partrevisions"/>
		<add key="GroupToPurchaseOrderLine" value="productionboms/group-to-purchase-order-line"/>
		<add key="GroupToIssuedLine" value="productionboms/group-to-issued-line"/>
		<add key="ImportPurchaseOrder" value="purchaseorders/import"/>
		<add key="CreatePurchaseOrder" value="purchaseorders"/>
		<add key="UpdatePurchaseOrder" value="purchaseorders"/>
		<add key="DeletePurchaseOrder" value="purchaseorders/"/>
		<add key="DeletePurchaseOrderLine" value="purchaseorderlines/bulk-delete"/>
		<add key="DeleteProductionBOM" value="productionboms/delete-range"/>
		<add key="MapUPC" value="purchaseorderlines/map-upc"/>
		<add key="ImportForecastGroup" value="forecastgroups/import"/>
		<add key="ImportUPC" value="itemmodel/import"/>
		<add key="GroupToPurchaseRequestLine" value="productionboms/group-to-purchase-request-line"/>
		<add key="SavePurchaseRequest" value="purchaserequests/save-request"/>
		<add key="UploadFile" value="files"/>
		<add key="ImportStorageDetail" value="storagedetail/import"/>
		<add key="GetMaterialTransactionReport" value="MaterialTransactions/storage"/>
		<add key="MapPrice" value="purchaseorderlines/map-price"/>
		<add key="MergeItems" value="items/merge"/>
		<add key="GetItemReport" value="reports/item-summary"/>
		<add key="GetReceiptReport" value="receipts/report"/>
		<add key="GetFilterJobHead" value="jobheads/filter"/>
		<add key="BulkJobOperation" value="joboperations/bulk"/>
		<add key="ImportStorage" value="storages/import"/>
		<add key="BulkStorage" value="storages/bulk"/>
		<add key="ImportUpdateInfor" value="itemstyles/import-update-infor"/>
		<add key="ItemStyleBulkUpdateInfor" value="itemstyles/bulk-update-infor"/>
		<add key="GetMaterialOfStyles" value="itemstyles/style-materials"/>
		<add key="GetSeasonReport" value="reports/item-season-report"/>
		<add key="GroupPurchaseRequestToPurchaseOrderLine" value="purchaserequestlines/group-to-purchase-order-line"/>
		<add key="VietComBankExchangeUrl" value="https://portal.vietcombank.com.vn/Usercontrols/TVPortal.TyGia/pXML.aspx"/>
		<add key="ShippingImageDefault" value="https://erp-api.sharedataroom.com/logochung.png"/>
		<add key="ShippingImageCanada1" value="https://erp-api.sharedataroom.com/shippingcanada1.png"/>
		<add key="ShippingImageCanada2" value="https://erp-api.sharedataroom.com/shippingcanada2.png"/>
		<add key="LogoPackingListDE" value="https://erp-api.sharedataroom.com/imagepackinglistDE.png"/>
		<add key="DontShortShip" value="https://erp-api.sharedataroom.com/dontshortship.png"/>
		<add key="LogoPackingListGA" value="https://erp-api.sharedataroom.com/imagepackinglistGA.png"/>
		<add key="LogoPackingListHM" value="https://erp-api.sharedataroom.com/imagepackinglistHM.png"/>
		<add key="LogoPackingOCL" value="https://erp-api.sharedataroom.com/ocl.png"/>
		<add key="GetCompanies" value="companies"/>
		<add key="GetDailyTargetDetail" value="DailyTargetDetails/order_summary"/>
		<add key="GetDailyTarget" value="DailyTargets/with_companyid_date"/>
		<add key="ImportDailyTarget" value="DailyTargets/import"/>
		<add key="BulkDailyTarget" value="DailyTargets/bulk"/>
		<add key="ProcessMaterial" value="MaterialRequests/process-requests"/>
		<add key="GetDailyTargetDetailByOperationDate" value="DailyTargetDetails/with_operation_date"/>
		<add key="MailFromAddress" value="erp.truong@luckystargarment.com.vn"/>
		<add key="MailPassword" value="CG?W2YcRhfbG"/>
		<add key="MailHost" value="mail.luckystargarment.com.vn"/>
		<add key="MailPort" value="587"/>
		<add key="MailToAddress" value="erp.duc@luckystargarment.com.vn"/>
		<add key="ImportPackingList" value="PackingLists/import"/>
		<add key="PurchaseOrderReport" value="PurchaseOrders/with_date"/>
		<add key="GetInventoryReport" value="reports/inventory_report"/>
		<add key="GetCuttingOutputReport" value="CuttingOutputs/operation_report"/>
		<add key="DeleteReceipt" value="Receipts/delete"/>

		<!--SHIPPING -->
		<add key="UploadDocumentInvoice" value="Invoice/upload-document"/>
		<add key="UpdateInvoice" value="Invoice/update"/>
		<add key="ImportShippingPlan" value="ShippingPlans/import"/>
		<add key="CreateShippingPlan" value="ShippingPlans"/>
		<add key="UpdateShippingPlan" value="ShippingPlans"/>
		<add key="BulkShippingPlan" value="ShippingPlans/bulk"/>
		<!--END SHIPPING-->

		<!--ISSUED -->
		<add key="CreateIssued" value="issueds/"/>
		<add key="UpdateIssued" value="issueds/"/>
		<add key="GetIssuedReport" value="Issueds/report"/>
		<add key="GetIssuedSupplier" value="issueds/get-supplier"/>
		<!--END ISSUED-->

		<!-- FABRIC PURCHASE ORDER -->
		<add key="ImportFabricPurchaseOrder" value="FabricPurchaseOrder/import"/>
		<add key="CreateIssuedFabric" value="issueds/create-fabric"/>
		<add key="CreateReceiptFabric" value="receipts/create-fabric"/>
		<!--END FABRIC PURCHASE ORDER-->


		<add key="ImportPackingList" value="PackingLists/import"/>
		<add key="ImportPart" value="Parts/import"/>
		<add key="ImportLabelPort" value="LabelPort/import"/>

		<!-- STORAGE BIN ENTRY -->
		<add key="ImportStorageBinEntry" value="StorageBinEntrys/import"/>
		<add key="BulkStorageBinEntry" value="StorageBinEntrys/bulk"/>
		<!-- END STORAGE BIN ENTRY -->

		<!-- FABRIC REQUEST -->
		<add key="UpdateStatusFabricRequest" value="FabricRequest/update-status"/>
		<!-- END FABRIC REQUEST -->

		<!-- LOADING PLAN -->
		<add key="ImportLoadingPlan" value="LoadingPlans/import"/>
		<add key="BulkLoadingPlan" value="LoadingPlans/bulk"/>
		<!-- END LOADING PLAN -->

		<!-- BOX INFO -->
		<add key="ImportBoxInfo" value="BoxInfos/import"/>
		<add key="BulkBoxInfo" value="BoxInfos/bulk"/>
		<!-- END BOX INFO-->

		<!--SCAN RESULT-->
		<add key="GetScanResultSummary" value="ScanResults/Summary"/>
		<add key="UpdateScanResultPurchaseOrderNumber" value="ScanResults/po-numbers"/>
		<add key="DeleteScanResults" value="ScanResults/delete"/>
		<add key="ConfirmScanResults" value="ScanResults/confirm"/>
		<!--END SCAN RESULT-->

		<!--SALES ORDER-->
		<add key="ImportSalesOrder" value="salesorders/import"/>
		<add key="DeleteSalesOrder" value="salesorders/"/>
		<add key="CompareSalesOrder" value="salesorders/compare-data"/>
		<add key="SaveCompareSalesOrder" value="salesorders/save-compare"/>
		<add key="UpdateQuantitySalesOrder" value="salesorders/update-quantity"/>
		<add key="UpdateSalesOrder" value="salesorders/update"/>
		<add key="ImportSalesOrderOffset" value="salesorders/import-offset"/>
		<add key="OffsetSalesOrder" value="salesorders/offset"/>
		<add key="GetPurchaseOrderForSalesOrder" value="SalesOrders/purchase_orders"/>
		<add key="UpdateShipQuantitySalesOrder" value="salesorders/update-ship-quantity"/>
		<add key="UpdateSampleQuantitySalesOrder" value="salesorders/update-sample-quantity"/>
		<add key="UpdateCAC_CHD_EHDSalesOrder" value="salesorders/update-CAC-CHD-EHD"/>
		<!--END SALES ORDER-->

		<!--SALES CONTRACT-->
		<add key="ImportSalesContract" value="salescontracts/import"/>
		<add key="UpdateSalesContract" value="salescontracts/update"/>
		<add key="UpdatePurchaseOrderNumberSalesContract" value="salescontracts/update-purchase-order-number"/>
		<add key="DeleteSalesContract" value="salescontracts/"/>
		<add key="UpdateContractInfo" value="salescontracts/update-contract-info"/>
		<!--END SALES CONTRACT-->

		<!--SHIPMENT-->
		<add key="ShipmentImport" value="shipment/import"/>
		<!--END SHIPMENT-->

		<!--STORAGE DETAIL-->
		<add key="ReportStorageDetail" value="storagedetails/report"/>
		<!--END STORAGE DETAIL-->

		<!--PURCHASE ORDER-->
		<add key="MatchingShipment" value="purchaseorders/matching-shipment"/>
		<add key="PurchaseReceived" value="purchaseorders/received"/>
		<!--END PURCHASE ORDER-->

		<!--PART PRICE-->
		<add key="ImportPartPrice" value="PartPrices/import"/>
		<!--END PART PRICE-->

	</appSettings>
	<connectionStrings>
		<add name="EasyTestConnectionString" connectionString="User Id=sa; Password=Tanhoa@123; Data Source=103.77.167.219;Initial Catalog=LS_ERP.XAFEasyTest"/>
		<add name="ConnectionString" connectionString="Persist Security Info=True; User Id=sa; Password=Admin@123#@!AdminAdmin; Data Source=103.77.167.177,1433;Initial Catalog=ERPv2_Test;" providerName="System.Data.SqlClient" />
		<!--
		Use the following connection string to connect to a Jet (Microsoft Access) database:
		<add name="ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Password=;User ID=Admin;Data Source=LS_ERP.XAF.mdb;Mode=Share Deny None;"/>
		-->
	</connectionStrings>
</configuration>
